@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    outline: none;

    margin: 0;
    padding: 0;

    background-color: rgb(255, 93, 93);
    color: #fff;

    font-family: 'Josefin sans', serif;
    color: rgb(212, 227, 255);

    overflow-anchor: none;

    background: linear-gradient(45deg,rgb(207, 43, 43), rgb(25, 80, 143),
     rgb(30, 255, 0));
    background-size: 400% 500%;
    animation: gradient 15s ease infinite;
    outline: none;

    * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
    }
    *::-webkit-scrollbar {
        width: 0;
    }
    *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
    }
    *::-webkit-scrollbar-track {
    background: transparent;
    }
}

header {
  width: 100%;
  text-align: center;
  position: relative;
  top: 2vh;
  font-size:larger;
  color:rgb(0, 0, 0);
}

.box {
  display: inline;
  float: right;
  margin-right: 1em;
  margin-top: -3em;
  padding: 0;
}

ol, li {
  list-style: none;
  margin: 0;
}

.styledlist {
  list-style: circle;
  list-style-type: "✔️";
  margin: auto;
}

.scaleonhover {
  will-change: transform;
  transition: 200ms;
}
.scaleonhover:hover {
  transform: scale(1.2);
}

.cardcontent {
  padding-left: 2em;
  padding-right: 2em;
}

.cardtitle {
  font-size: 3em;
  font-weight: 700;
  color: rgb(0, 0, 0);;
  padding-left: 0.3em;
  margin-bottom: 0;
  width:fit-content
}

.carddescription {
  font-size: 1.8em;
  font-weight: 300;
  color: #d1d1d1;
  margin-left: 2em;
  margin-right: 1.7em;
  margin-top: 0.5em;
}

.cardimage {
  max-width: 100%;
  height: auto;
  padding: 0;
  border: 5px solid rgb(16, 6, 44);
}

@media only screen and (max-width: 768px) {
  .cardcontent {
    padding: 0;
  }
  .carddescription {
    margin: 0.4em;
    font-size: 1.3em;
  }
  .box {
    margin-right: 0.5em;
    margin-top: 0;
  }
}

.card.ghost {
  pointer-events: none;
  visibility: hidden;
  flex: 0 0 auto;
  width: 50%;
}

.card {
    border-radius: 3em;
    -webkit-border-radius: 3em;
    outline: none;
    background-color:rgba(0, 0, 0, 0);
    box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.449);
    border: 5px solid rgba(0, 0, 0, 0.795);
    position: relative;
    flex: 0 0 auto;
    margin-top: 2em;
    padding-bottom: 2em;

    scroll-margin-top: 100em;


    width: Clamp(0%, 100%, 60em);

    will-change: transform;
    user-select: none;
    -webkit-user-select: none;
    transition-timing-function:ease;
    transition-property: all;
    background-image: radial-gradient(farthest-corner at 0% 0%, var(--myColor1) 0%, 
    rgba(57, 62, 82, 0.39) 83%, var(--myColor2) 95%);
    transition: --myColor1 0.5s, --myColor2 0.5s, transform 0.4s cubic-bezier(.47,1.64,.41,.8), 
    border 500ms, opacity 0.5s;
}
@property --myColor1 {
  syntax: '<color>';
  initial-value: rgba(25, 12, 83, 0.63);
  inherits: false;
}
@property --myColor2 {
  syntax: '<color>';
  initial-value: rgba(49, 49, 49, 0.342);
  inherits: false;
}
.card:hover {
    border: 5px solid rgb(16, 6, 44);
    --myColor1: rgba(91, 63, 156, 0.829);
    --myColor2: rgba(59, 156, 156, 0.589);
    
}
.card:active {
    transform: scale(0.95);
}

.mobileonly {
  display: none;
}

.desktoponly {
  display: none;
}

@media (hover: none) and (pointer: coarse){
  .mobileonly {
    display: flex;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card {
    opacity: 0.5;
    transform: scale(0.5);
    transform-origin: bottom;
  }
  .card:target {
    opacity: 1;
    transform: scale(1);
  }
  .desktoponly {
    display: unset;
  }
}

.carousel {
  position: relative;
  display: flex;
  overflow: visible;
}

.carouselviewport {
  position: relative;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 100%;
  width: 100%;
  gap: 200%;
}

.carouselsnapper {
    position: absolute;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}   
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
@media only screen and (min-width: 768px) {
  .card::before,
  .card::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }

  .card::before,
  .carousel__prev {
    left: 1rem;
  }

  .card::after,
  .carousel__next {
    right: 1rem;
  }

  .card::before,
  .card::after {
    content: '';
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
    transition:all 0.5s;
  }
  .card:hover::before,
  .card:hover::after {
    filter: saturate(100%) invert(73%) sepia(8%) saturate(928%) hue-rotate(359deg) brightness(97%) contrast(140%);
  }

  .card::before {
    background-image: url("images/leftarrow.svg");
    background-size: 1.6em;
  }

  .card::after {
    background-image: url("images/rightarrow.svg");
    background-size: 1.6em;
  }
}

footer {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 5em;
}

.scalewithvh {
  height: Clamp(44px, 5vh, 80em);
}

.minimapcontainer {
  position: relative;
}

.iconbg {
  background-color: rgba(0, 0, 0, 0.795);
  border-radius: 1em;
}
.iconbg:hover {
  background-color:rgba(255, 0, 0, 0.63);
}

.minimap {
  display: flex;
  gap: 5vw;
  padding-right: 40px;
  justify-content: center;
}
