
p, h1, a {
  line-height: 1.4;
  padding-left: 30px;
  padding-right: 30px;
}
body {
  background-color: rgb(0, 0, 0);
  background-image: url("images/stars3.gif");
  color: aliceblue;
  font-family: w95fa;
  font-size: 1.4em;
  justify-content: center;
  width: 100%;
  margin: 0em;
}
html, body {
    overflow-x: hidden;
}
@font-face {
  font-family: w95fa;
  src: url("images/w95fa.woff2");
}
.sidebarButton {
  justify-content: center;
  width: 100%;
  text-align: center;
}
a {
  color: rgb(144, 203, 255);
}
a:visited {
  color: rgb(255, 0, 0);
}
a:hover {
  color: rgb(255, 238, 0);
}
.fun {
  color: blue;
  font-size: 32px;
}
.graphic {
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
.rainbow {  
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 800% 800%;
    background-clip: text;
    color: transparent;
    animation: ease infinite; /*currently broken*/
}